<ion-header>
    <ion-toolbar>
        <ion-title>
            Proyectos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="card" *ngFor="let proyectos of proyectos; let i = index" (click)='avancesProyecto()'>
        <img class="imgProyecto" [src]="proyectos.imagen" />
        <ion-card-header>
            <ion-card-title>{{proyectos.nombre}}</ion-card-title>
            <ion-row>
                Ubicacion: {{proyectos.ubicacion}}
                <br> Fecha inicio: {{proyectos.fechaInicio}}
                <br> Fecha fin: {{proyectos.fechaFin}}
            </ion-row>
        </ion-card-header>
    </ion-card>
</ion-content>